h1{
    color:crimson;
    font-size: 32px;
}
/*

*/
body{
    font-family: 'Roboto', sans-serif;
    background: snow;
}
.nav-li{
text-align: center;
list-style-type: none;
}
.logo{
    display: block;
    text-align: center;
}
.menu{
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    background-color: rgba(255, 0, 0, 0.433);
    color: white;
}
a{
    color: bisque;
    text-decoration: none;
    padding-right:5px;
}
footer {
    position:relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
  }